@import "src/styles/variables.scss";

#login-form {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #F7F7FF;
  padding-left: 0px;
  padding-right: 0px;
  div.card {
		width: 600px;
		padding-top: 50px;
		padding-bottom: 50px;
		border: none;
		box-shadow: 4px 4px 20px rgba(117, 120, 211, 0.15);
	}
  img {
		height: 100px;
		width: 200px;
		// border-radius: 50%;
		// border: 3px solid #7578D3;
	}
};
