@import "src/styles/variables.scss";

.product{
    padding: 12px;
    &:nth-child(odd){
        background-color: $light-grey;
    }
}

.check{
    width: 17px;
    height: 17px;
    background-color: $light-grey;
    &:checked{
        color: #000;
        
    }
}